
body {
	font-family: sans-serif;
	font-size: 1.1em;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	overflow-x: hidden;
}
.hidden {
	display: none;
}
img.logo {
  height: 100px;
  width: auto;
  
}
header {
	background-image: url(img/back_ground.jpeg);
	height: 100vh;
	min-height: 650px;
	background-position: top center;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
}
ul {
	margin: 0;
	padding: 0;
}
.logo {
    float: left;
    color: #fff;
}
.navigation>.list>.tab {
	color: #fff;
	display: inline-block;
	width: 130px;

	font-family: "BravoRG", sans-serif;
	font-size: 1.7em;
}

ul>li .link1:hover {
	border-radius: 0 0 30px 30px;
}
.nav_bar{
	text-align: center;
}
.headline {
	font-family: "FARRAY", sans-serif;
	color: #15202B;
	font-size: 55px;
	vertical-align: baseline;
	display: inline-block;
	padding-top: 17%;
}
ul>li .link1 {
  transition: 0.4s;
  color: #ffffff;
  font-size: 28px;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  outline: none;
}
ul>li .link1:hover {
  background-color: #ffffff;
  color: #3F80DF;
  padding: 60px 21px 18px;

}
.declare {
	color: #3F80DF;
}
.link1 {
	text-decoration: none;
}
/*==============================ARROW===================================*/

.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;

}

.scroll-down {
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -16px;
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 2px solid #15202B;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}
.wrap {
 text-align: center;
 padding: 80px;
 
}


@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}


 
/*==============================ARROW===================================*/
.burger {
  display: none;
  position: fixed;
  top: 0;
  right: 0px;
}
.burger a {
  display: block;
  width: 120px;
  height: 50px;
  background-color: #333;
  text-align: center;
  color: #fff;
  font-size: 28px;
  text-decoration: none;
  line-height: 50px;
}
.test {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
}
.test .wrap_s {
  display: block;
  width: 70px;
  height: 70px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  
}
svg {
    display: block;
    font: 7.5em 'FARRAY';
    width: 960px;
    height: 300px;
    margin: 15% auto;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
  stroke: #162938;
  animation-delay: -1;
}

.text-copy:nth-child(2){
  stroke: #3f80df;
  animation-delay: -2s;
}

.text-copy:nth-child(3){
  stroke: #3F80DF;
  animation-delay: -3s;
}

.text-copy:nth-child(4){
  stroke: #162938;
  animation-delay: -4s;
}

.text-copy:nth-child(5){
  stroke: #E3F1F5;
  animation-delay: -5s;
}

@keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
}